# Copy to .env and fill in your secrets
CLAUDE_API_KEY=
NUTRIENT_LICENSE_KEY=99qdymc1wT4hnw2sqcpNTUi17f7iLNYB5Nlp0M1h5lZBvgJX4jNgc-ub-SrWc8DEtV7wJuXykUPcgeOzkS_KBUJuKBSM4yduYw9dLFLgonCGNzGashdKNqGbPitMTMjltnAOS1b631CzXRN9OHSbnOO57EDOmGB4XKQpYIald6OhNvU2f4dOIsbV5e9mAW6i5Fu2vEiwvU-W248j-a_6SKVZzxSdtU7DN1qXW44IKA-4N5x8mMG-Vx_7Q-yOoqF1YFxoE7XhhTu8N_r1IPInxA3-Mi0z5mhJ4b-JS_VgarKOCtSTnNJyaIN1n-FD91S8yI5J8eQ2VCkPdQghX_b7ezM9EnyZehM5k0UnVT26WXU9JJbxIzogDSPX_w
